[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
opencv-contrib-python = "*"
django = "*"
deepface = "*"
psycopg2-binary = "*"
django-rest-framework = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
