<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<span style="margin: 20px">Оберіть тему:</span>
<ol>
    {% for theme in themes %}
    <li style="margin: 10px 0">
        <a href="/theme/{{ theme.id }}" style="text-decoration: none; color: black">
            {{ theme.description }}
            ({{ theme.time }} min)
            ({{ theme.max_grade }} баллов)
            {% if theme.is_complete %}
            [Зараховано]
            {% else %}
            [Не Зараховано]
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ol>
</body>
</html>
