<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">{{ description }}</h5>
        </div>
        <div class="modal-body">
            На цю тему у вас є {{ time }} хвилин
            <p>Предметна область: {{ subject_title }}</p>
            {% load static %}
            <img src="{% static subject_image %}" width="100%">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" onclick="window.location.href = '/task_group/{{ start_link }}';">
                {{ button_desc }}
            </button>
        </div>
    </div>
</div>
</body>
</html>